@page "/contact"
@using System.IO
@using System.Reflection
@using System.Text
@using DarkMatterWeb.Models
@using DarkMatterWeb.Shared.Crew
@using DarkMatterWeb.Helpers
@using DarkMatterWeb.Services

@inject AirTableService airTableService

<div class="crew-section-1">
    
</div>


<div class="contact-us-page">
    <div id="contact-us-box2">
        <h1 class="header-primary header-primary--large">Contact Us</h1>
        <p>Give us a shout. We would love to hear from you</p>
    </div>

    @if (_messageSent)
    {
        <h4 style="color: black; text-align: center; width: 40rem;">Thanks! We'll hit you back soon.</h4>
    }
    else
    {
        <div class="contact-us-form">
            <RadzenTextBox class="custom-text-input" Placeholder="Name" @bind-Value="_name" />
            <RadzenTextBox class="custom-text-input email-input" style="margin-right: 0;" Placeholder="Email" @bind-Value="_email" />
            <div class="contact-phone-company-box" style="margin-top: 1rem;">
                <RadzenTextBox class="custom-text-input" Placeholder="Phone Number (optional)" @bind-Value="_phone" />
                <RadzenTextBox class="custom-text-input company-name-input"  style="margin-right: 0;" Placeholder="Company Name (optional)" @bind-Value="_company" />
            </div>
            <div style="display: flex; flex-wrap: wrap; margin-top: 2rem;">
                <RadzenTextArea class="custom-text-area" @bind-Value="_message" />
            </div>
            <div class="contact-us-send-button">
                <RadzenButton Text="Send" Click="Send" />
            </div>
        </div>
    }
</div>


@code {

    private string _name;
    private string _email;
    private string _message;
    private string _phone;
    private string _company;
    private bool _messageSent = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected void Send()
    {
        AsyncUtil.RunSync(() => airTableService.ContactUs(new ContactUsContent {
            Company = _company,
            Email = _email,
            Message = _message,
            Name = _name,
            Phone = _phone
        }));
        _messageSent = true;
    }
}
