@page "/"

<div class="index-section-1" style="height: 80rem;">
    <div style="margin-bottom: 15rem; justify-content: center">
        <h1 style="text-align: center">Your remote developer team.</h1>
        <h1 style="text-align: center">Experts in Cloud, Mobile, .NET, & Blazor.</h1>
    </div>
</div>

<div class="index-section-2">
    <div class="inner-section">
        <h1>Who we are</h1>
        <p>Eugene’s craftiest C#, Web, Mobile, and Cloud development consultancy. Our founders bring more than 30 years of collective experience in building .NET infrastructure. We’ve worked with industry leaders, state & local governments as well as private enterprise large and small. Founded in 2016 to fill a gap in regional C# knowledge, we've expanded lately to embrace popular trends in open web and mobile as well as adding developers with diverse skill sets.</p>
    </div>
    <div class="inner-section">
        <h1>What we do</h1>
        <p>We build teams custom fitted to the specific needs of your project. Our developers have deep platform knowledge in C# and .Net to support your existing systems as well as embracing the latest trends in mobile and cloud computing for your next adventure. We employ local Oregon developers who enjoy the quality of life in Eugene, Oregon.</p>
    </div>
    <div class="inner-section">
        <h1>OPEN TOOLS AND OPEN LEADERSHIP</h1>
        <p>We build teams custom fitted to the specific needs of your project. Our developers have deep platform knowledge in C# and .Net to support your existing systems as well as embracing the latest trends in mobile and cloud computing for your next adventure. We employ local Oregon developers who enjoy the quality of life in Eugene, Oregon.</p>
    </div>
</div>

<div class="index-section-3">
    <h1>Our Work</h1>
    <div style="display: flex; justify-content: space-around">
        <div class="index-section-3-block-top">
            <h2>Remote Team Building</h2>
            <p>We are remote team builders. Our projects are distributed and staffed by digital natives. We stay in constant contact using chat and cloud based project management tools. Trained as Mozilla Open Leaders, our leads have skills building empathy and creating inclusive environments for collaboration. We can help you build a world-class remote work culture.</p>
        </div>
        <div class="index-section-3-block-top">
            <h2>Business Apps in the Cloud</h2>
            <p>Cloud Apps, aka Web Apps, Web APIs, & Mobile Back-Ends. Not much to look at, but they get the job done. We build infrastructure in Azure and AWS using Serverless and Docker. We specialize in taking monolithic server apps and re-tooling them for the cloud, often with substantial cost savings.</p>
        </div>
        <div class="index-section-3-block-top">
            <h2>Mobile Apps</h2>
            <p>It’s all about mobile. App-Store Apps in React Native. Progressive Web Apps in JavaScript, HTML and CSS. ASP.Net web apps that are mobile friendly will also run on larger screens of course.</p>
        </div>
    </div>
    <div style="display: flex; justify-content: space-around">
        <div class="index-section-3-block-bottom">
            <h2>We Love C# and .Net</h2>
            <p>Our founders started using .Net almost 20 years ago and have kept up with all the twists and turns along the way. Today we deploy C# running on Linux containers in the cloud and couldn’t be happier. Microsoft embracing open source was the best choice they ever made.</p>
        </div>
        <div class="index-section-3-block-bottom">
            <h2>Blazer is the Future</h2>
            <p>We are one of the first teams delivering Blazor Server Apps in production. Web Assembly opens up a new world of web development and we’ll be the first to deliver Blazor Client Apps as well. It’s not often that a game-changing technology comes along that radically simplifies development like Blazor. We might seem like risk-takers at the moment, but Blazor not an experiment. It’s baked into .Net and has a bright future with a very long tail.</p>
        </div>
    </div>
</div>

<div class="index-section-4">
    <div style="position: relative">
        <img id="box1" src="/images/logo2.png" width="300" height="300" style="z-index: 2" />
        <div id="box2">
            <h1>Our team is here to help</h1>
            <p>Shoot us a message and tell us about your project!</p>
            <div style="justify-content: flex-end; align-items: flex-end">
                <NavLink href="contact">
                    Contact Page
                </NavLink>
                <img src="/images/arrow.png" width="100" height="20"/>
            </div>
        </div>
    </div>
</div>