@page "/showcase"
@using System.IO
@using System.Reflection
@using System.Text
@using DarkMatterWeb.Models
@using DarkMatterWeb.Shared.Crew
@using DarkMatterWeb.Helpers
@using DarkMatterWeb.Services

@inject AirTableService airTableService

<h1 style="margin-left: 5rem;">Showcase</h1>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
