<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <Image Source="/images/line.jpg" style="height: 40px; align-self: center;" />
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/showcase">Showcase</a>
    </li>
    <li class="nav-item">
        <Image Source="/images/line.jpg" style="height: 40px; align-self: center;" />
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/crew">Crew</a>
    </li>
    <li class="nav-item">
        <Image Source="/images/line.jpg" style="height: 40px; align-self: center;" />
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/contact">Contact</a>
    </li>

</ul>