@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 justify-content-around">
        <RadzenImage Path="/images/logo.png"></RadzenImage>
        <RadzenMenu>
            <RadzenMenuItem Text="Home" Path="home" />
            <RadzenMenuItem Text="Showcase" Path="showcase" />
            <RadzenMenuItem Text="Crew" Path="crew" />
            <RadzenMenuItem Text="Contact" Path="contact" />
        </RadzenMenu>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
