@inherits LayoutComponentBase

<div class="main">
    <div class="top-row justify-content-between image main-heading">
        <RadzenImage Path="/images/logo.png" Style="height: 40px;" class="heading-logo" />
        <RadzenMenu>
            <RadzenMenuItem Text="Home" Path="/" />
            <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
            @*<RadzenMenuItem Text="Showcase" Path="showcase" />
            <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />*@
            <RadzenMenuItem Text="Crew" Path="crew" />
            <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
            <RadzenMenuItem Text="Contact" Path="contact" />
        </RadzenMenu>
    </div>

    <div>
        @Body
    </div>
    <div class="footer">
        <div class="bottom-row justify-content-center">
            <RadzenMenu>
                <RadzenMenuItem Text="Home" Path="/" />
                <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
                @*<RadzenMenuItem Text="Showcase" Path="showcase" />
                <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />*@
                <RadzenMenuItem Text="Crew" Path="crew" />
                <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
                <RadzenMenuItem Text="Contact" Path="contact" />
            </RadzenMenu>
        </div>
    </div>
</div>
