@inherits LayoutComponentBase

<div class="main">
    <div class="top-row justify-content-between image main-heading">
        <BSImage Path="/images/logo.png" Style="height: 40px;" class="heading-logo" />
        <BSNav IsList="true">
            <BSNavItem>
            <BSNavLink Text="Home" Href="/" />
            </BSNavItem>

            <BSNavItem>
            <BSImage  Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
            </BSNavItem>

            <BSNavItem>
            <BSNavLink Text="Showcase" Href="showcase" />
            </BSNavItem>

            <BSNavItem>
            <BSImage  Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
            </BSNavItem>

            <BSNavItem>
            <BSNavLink Text="Crew" Href="crew" />
            </BSNavItem>

            <BSNavItem>
            <BSImage  Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
            </BSNavItem>

            <BSNavItem>
            <BSNavLink Text="Contact" Href="contact" />
            </BSNavItem>

        </BSNav>
    </div>

    <div>
        @Body
    </div>
    <div class="footer">
        <div class="bottom-row">
            <div class="social-link-box">
                <a href="https://www.facebook.com/darkmatterconsulting" target="_blank"><img class="social-logo" src="../images/facebook.png" alt="Facebook Logo"></a>
                <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
                <a href="https://www.linkedin.com/company/dark-matter-oregon/" target="_blank"><img class="social-logo" src="../images/linkedin.png" alt="Linkedin Logo"></a>
            </div>
            <RadzenMenu>
                <RadzenMenuItem Text="Home" Path="/" />
                <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
                <RadzenMenuItem Text="Showcase" Path="showcase" />
                <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
                <RadzenMenuItem Text="Crew" Path="crew" />
                <RadzenImage Path="/images/line.jpg" Style="height: 40px; align-self: center;" />
                <RadzenMenuItem Text="Contact" Path="contact" />
                
            </RadzenMenu>
        </div>
    </div>
</div>
